<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    Ця функція повинна отримати масив {% if is_js %}{% else %} , список{% endif %} рядків і визначити найдовший спільний префікс серед усіх рядків. Якщо спільного префікса не знайдено, вона повинна повернути порожній рядок.  
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}longest-common-prefix.png" alt="example" style="max-height: 200px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>Вхідні дані:</strong> {% if is_js %}Масив{% else %}Список{% endif %} <span>({% if is_js %}Array{% else %}List{% endif %})</span> рядків <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>Вивести:</strong> Рядок <span>(str{% if is_js %}ing{% endif %})</span>. 
</p>

<p>
    <strong>Приклади:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">

    <strong>Як використовується:</strong>
    <ul>
        <li><i>у системах автозавершення для підказки найбільш ймовірного завершення;</i></li>
        <li><i>у файлових системах для підказування назв каталогів на основі поточного введення;</i></li>
        <li><i>у вирівнюванні послідовностей ДНК для виявлення спільних підрядків.</i></li>
    </ul>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<!-- <p>
    <strong>Preconditions:</strong>
    <ul>
    <li><i>both given ints should be between -1000 and 1000</i></li>
    </ul>
</p> -->
